.App {
  text-align: center;
  font-family: sans-serif;
}

body{
  background-color: lightskyblue;
  color: black;
}

.all-stuff{
  max-width: 800px;
  margin: 0 auto;
}

.smurf-card{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card{
  border: blue 1px dashed;
  padding: 15px 50px;
  margin: 20px 30px;
  border-radius: 20px;
  background-color: #886bff;
}

.button{
  margin-top: 1%;
  padding: 13px 28px ;
  background: blueviolet;
  border: none;
  border-radius: 30px;
  font-size: 1.0rem;
  color: white;
}

.input{
  margin: 1%;
  padding: 10px 30px 10px  5px;
}

.title{
  background-color: #6e54d6;
  color: white;
  margin: 0;
  padding: 20px 0 ;
}